/*
  Name: Henry Chen
  Date: May 17th, 2019
  Section: CSE 154 AN
  This is the style.css file for the index.html. It has all the rules that
  give the web page an acceptable appearance.
 */

body {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

body, select, button {
  font-family: Helvetica, Verdana, sans-serif;
}

select {
  padding-top: 5px;
  padding-bottom: 5px;
}

.hidden {
  display: none;
}

header, main, footer {
  background-color: white;
  border-radius: 0.35em;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

#details {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry {
  width: auto;
}

.entry p {
  margin: 4px 0;
}

li {
  text-align: left;
}
